*{
    /* color: pink; */
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: hsl(0, 6%, 90%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#main-box{
    padding:5% 3%;
}
.grid-items{
    border-radius:6px;
margin-bottom: 20px;
padding: 20px;
box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
font-size: 13px;
}
.grid-items p{
    opacity: 70%;
}
#header .name{
    opacity: 100%;
    font-size: 1rem;
}
#box-1{
    background-color: hsl(263, 55%, 52%);
    color:white;
    /* position: relative; */
    z-index:0;
}
#box-2{
    color:white;
    background-color:rgb(99, 96, 96);
}
#box-3{
    background-color: hsl(0, 0%, 100%);
}
#box-4{
    color:white;
    background-color: hsl(219, 29%, 14%);
}
#box-5{
    background-color: hsl(0, 0%, 100%);
}
#header{
display:flex;
align-items: center;
margin-bottom: 20px;
z-index: 3;
position:relative;
}
#header img{
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid rgb(96, 10, 157);
}
.grid-items h4{
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 3;
position:relative;
}
#quote{
    position: absolute;
    right:53%;
    top:65px;
    z-index:1;
}
/* #txt-header{

} */
 @media (min-width: 570px){
    #main-box {
        display:flex;
        max-width: 1050px;
        margin:0 auto;
        justify-content:space-between;
    }
   #box-left{
       display:flex;
       flex-direction: column;
    flex-basis:73%;
   }
    
   #box-5{ 
    /* display: flex; */
    flex-basis:25%;
   }
   #left-top{
    display:flex;
    flex-basis: 50%;
    justify-content:space-between;
    /* flex-direction: column; */
   }
   #left-bottom{
    flex-basis: 50%;
    display:flex;
    justify-content:space-between;
   }
#box-1{
   flex-basis: 69%;
}
#box-2{
    flex-basis: 29%;
}
#box-3{
    flex-basis: 29%;
}
#box-4{
    flex-basis: 69%;
}
 }